
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navLinks{
  background-color: rgb(3, 3, 58);
  color: white;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  transition: .5s;
}

.navLinks:hover {
  background-color: rgb(5, 5, 88);
  color: white;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  transition: .5s;
}

h1{
  font-weight: lighter;
}

nav{
  margin-top: 0;
  padding: 20px 10px;
  background-color: rgba(10, 10, 10, .5);
  border-radius: 3px;
}

nav > * {
  margin: 0px 40px;
  padding: 10px 10px;
  color: white;
}

nav > *:hover{
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
}

.puppyGridDiv{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  column-span: 3;
  gap: 2svw;
  min-width: 30svw;
  padding: 20px 35px;
  background-color: rgba(59, 59, 59, 0.4);
  border-radius: 0px 5px 5px 5px;
}

.puppyDiv{
  width: 20svw;
  padding: 20px 0px;
  background-color: rgba(1, 1, 24, 0.3);
  border-radius: 10px;
}

.puppyDiv > img{
  width: 60%;
  min-height: 50%;
  border-radius: 3px;
}

.puppyDiv > h3{
  word-wrap: none;
}

.seeDetailsBtn{
  background-color: rgb(2, 2, 56);
  font-weight: 600;
}

.seeDetailsBtn:hover{
  border-color: white;
  font-weight: 800;
}

.deleteBtn{
  margin-left: 1svw;
  background-color: rgb(2, 2, 56);
  font-weight: 600;
}

.deleteBtn:hover{
  /* text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: red; */
  font-weight: 800;
  color: red;
  border-color: rgb(255, 0, 0);
}

.sectionHeader{
  padding: 10px 0px;
  margin-top: 2svw;
  margin-bottom: 0px;
  width: 10svw;
  font-weight: bolder;
  background-color: rgb(32, 32, 32);
  color: white;
  border-radius: 5px 5px 0px 0px;
}

.singlePupHeaders{
  font-size: 2em;
}

#singlePupImg{
  width: 50%;
}

#singlePupDiv{
  position: relative;
  width: 30svw;
  margin: 20px auto;
  padding-top: 5px;
  background-color: rgba(1, 1, 24, 0.3);
  border-radius: 5px;
}

#singlePupDiv > img {
  border-radius: 3px;
}

.singlePupDelete{
  position: absolute;
  top: 30px;
  right: 3svw;
}

.singlePupDelete:hover{
  font-weight: bolder;
  color: rgb(200, 0, 0);
  border: 2px solid ;
  border-color: rgb(150, 0, 0);
}

.nextPrevBtns{
  margin: 0px 8svw;
}

form{
  margin-top: 3.5svw;
}

form > label{
  font-size: 1.25em;
  text-align: left;
  font-weight: lighter;
}

form > label > *{
  text-align: center;
  width: 20svw;
  height: 1svw;
  font-weight: bolder;
  font-style: italic;
  border-radius: 3px;
  border: 2px solid grey;
}

#statusMessage{
  margin: 5px auto;
  margin-bottom: 0px;
  padding-bottom: 5px;
  border: none;
}

.puppyFormDiv{
  width: 60svw;
  aspect-ratio: 2;
  padding: 20px 35px;
  background-color: rgba(59, 59, 59, 0.4);
  border-radius: 0px 5px 5px 5px;
}

